/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nav Styles */
nav {
  padding: 10px;
  text-align: center;
  background: #007BFF;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

nav h1 {
  font-size: 24px;
}

/* Forms */
form {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background: #0056b3;
}

/* Statistics Section */
.statistics {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.statistics h2 {
  margin-bottom: 10px;
}

.statistics p {
  margin-bottom: 5px;
}

/* Description & Thumbnail */
.description {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9;
}

.image {
  text-align: center;
  margin-top: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Loading Spinner */
.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007BFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.react-datepicker {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f2f9ff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 200px;
  border-radius: 8px 8px 0 0;
}

.react-datepicker__year-text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #007BFF;
  transition: color 0.3s ease;
}

.custom-header button:hover {
  color: #0056b3;
}

.custom-header button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Date Classes */
.date-picker-container {
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  align-self: flex-start;
}
